* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.contact {
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-right: 10rem;
}

.fa-phone {
  color: white;
}

.fa-envelope {
  color: white;
}

.socials {
  margin-left: 10rem;
}

.socials ul {
  display: flex;
  gap: 10px;
}

.socials ul li {
  list-style: none;
}

.socials ul li a {
  text-decoration: none;
}

.socials ul li a i {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.fa-facebook-f {
  background-color: transparent;
  color: #fff;
}

.fa-twitter {
  background-color: transparent;
  color: #fff;
}

.fa-google-plus {
  background-color: transparent;
  color: #fff;
}

.fa-square-instagram {
  background-color: transparent;
  color: #fff;
}

.fa-linkedin-in {
  background-color: transparent;
  color: #fff;
}

.fa-light fa-phone {
  background-color: transparent;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  background-color: #f9f9f9;
}

.hero {
  background-image: linear-gradient(
      180deg,
      rgba(213, 197, 184, 1) 0%,
      rgba(18, 6, 5, 0.40948879551820727) 0%
    ),
    url("imagesite/interior1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 26rem;
  position: relative;
}

.hero_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.8rem;
}

.hero_nav .houzez {
  margin-left: 10rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.hero_nav ul {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.hero_nav li {
  list-style: none;
}

.hero_nav li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

.hero_nav .contact {
  color: orange;
  padding-top: 3px;
}

.info {
  color: white;
  margin-left: 10rem;
  padding: 3rem 1.5rem;
}

.info h1 {
  font-weight: lighter;
  font-size: 2rem;
  padding: 1rem 0;
}

.info h1 + p {
  width: 25%;
  font-size: 12px;
}

.info p:last-of-type {
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.hero .bar {
  content: "";
  display: block;
  height: 4px;
  width: 40%;
  background-color: orange;
  text-align: left;
  position: absolute;
  bottom: 0;
}

form {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form-input input {
  width: 100%;
  border: 1px solid rgb(204, 201, 201);
  border-radius: 3px;
  padding: 0.8rem 0.8rem 0.8rem 1.1rem;
  color: grey;
  font-size: 12px;
}

.form-input input::placeholder {
  padding-left: 1rem;
}

.form-input {
  position: relative;
  width: 30%;
  padding-right: 2rem;
}

.form-input i {
  position: absolute;
  top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
}

form button {
  background-color: transparent;
  border: 1px solid rgb(205, 202, 202);
  border-radius: 3px;
  padding: 0.8rem;
  color: var(--text-color);
  font-size: 12px;
}

form .search {
  background-color: orange;
  color: white;
  border: none;
}

form .bed,
form .advanced {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 12px;
  color: var(--text-color);
}

.perfectHome {
  background-color: rgb(238, 237, 237);
}

.section_header {
  padding-top: 4rem;
  padding-left: 2rem;
  margin-left: 10rem;
}

.section_header p:first-of-type {
  font-size: 1.5rem;
  color: #191919;
}

.section_header p:last-of-type {
  color: grey;
  padding-top: 8px;
}

.perfectButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 12rem;
  gap: 0.3rem;
  padding-top: 1rem;
}

.perfectButtons button {
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 3px;
  padding: 0.5rem;
  color: orange;
  font-size: 10px;
}

.houses {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding-top: 5px;
}

.house_img {
  position: relative;
}

.house_img img {
  width: 13rem;
  height: 10rem;
  border-top: 7px white solid;
  border-right: 7px white solid;
  border-radius: 3px;
}
 .house1::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 13rem;
  height: 50%;
  background: linear-gradient(to bottom, transparent, black);
  opacity: 0.7;
 } 

.house_img button {
  background-color: rgb(94, 92, 92);
  color: white;
  border: rgb(94, 92, 92) 1px solid;
  border-radius: 2px;
  padding: 3px;
  margin: 10px 10px 0 0;
  font-size: 10px;
  align-items: end;
  position: absolute;
  top: 0;
  right: 5px;
}

.house_img p {
  color: white;
  position: absolute;
  bottom: 5px;
  margin: 0 0 15px 15px;
}

.house_info {
  margin-top: 15px;
  color: #595757;
  margin-bottom: 5rem;
}

.house_info p:nth-child(1) {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

.area_size {
  text-align: left;
  font-size: 13px;
}

.area_size p:first-of-type {
  display: flex;
  justify-content: left;
  gap: 10px;
  font-size: 12px;
}

.team {
  background-color: #fff;
}

.team_imgs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.team_imgs img {
  width: 13rem;
  height: 20rem;
  border-radius: 4px;
  object-fit: cover;
}

.person {
  position: relative;
  margin-bottom: 5rem;
}

.person_img {
  position: relative;
  display: inline-block;
}

.person_img::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, black);
  opacity: 0.8;
  border-radius: 3px;
}

.person .name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  color: white;
  font-size: 13px;
  text-align: center;
}

.name p:first-of-type {
  font-weight: 500;
}

.realEstate {
  background-color: rgb(238, 237, 237);
}

.realEstate .section_header p:last-of-type {
  margin-bottom: 30px;
  font-size: 13px;
}

.NYCEstate {
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 20%; 
}

.estate_img{
  position: relative;
  background-color: #fff;
  border-radius: 4px;

}

.estate_img img {
  width: 17rem;
  height: 12rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.estate_img_btns {
  position: absolute;
  top: 0;
  display: flex;
  gap: 6.5rem;
  
}

.estate_img_btns button {
  border-radius: 2px; 
  padding: 3px;
  font-size: 10px;
  margin: 12px;
  color: #fff;
  border: none;
}

.estate_img_btns button:first-of-type {
  background-color: limegreen;
}

.estate_img_btns button:last-of-type {
  background-color: #595757;
}

.estate_info {
  margin: 1rem 0 1.5rem 1rem;
  font-size: 14px;
}

.price {
  display: flex;
  gap: 3rem;
  margin: 0.5rem 0;
  font-size: 12px;
}

.price i {
  margin-right: 6px;
}

.price p:first-of-type {
  color: orange;
}

.price p:last-of-type {
  color: grey;
}

.load_btn {
  width: 100%;
  display: block;
  border-radius: 3px;
  text-align: center;
  margin-top: 2rem;
}

.load_btn button {
  color: orange;
  border: 1px orange solid;
  padding: 0.5rem 2.5rem;
  margin-bottom: 4rem;
  border-radius: 3px;
}

.services {
  background-image: url(imagesite/couch.jpg);
}

.services_div {
  display: flex;
  gap: 2px;
  justify-content: center;
}
.services_txt {
  margin: 0 auto;
  text-align: center;
  top: 0;
  padding: 5rem;
  color: #f9f9f9; 
}

.services_txt p:first-of-type {
  font-size: 1.5rem;
}

.services_txt p:last-of-type {
  font-size: 14px;
}

.box {
  background-color: #fff;
  width: 18rem;
  height: 20rem;
  margin-bottom: 5rem;
}

.box i {
  color: orange;
  font-size: 3rem;
  text-align: center;  
  margin: 3rem;
}

.box_txt {
  padding: 3px;
  margin: 5px 20px;
  text-align: center;
}

.box_txt p:first-of-type {
  font-size: 1rem;
  font-weight: 500;
}

.box_txt p:last-of-type {
  font-size: 12px;
  margin: 1rem 0;
}

.box_txt a {
  text-decoration: none;
  color: orange; 
}

.blog {
  background-color: #f4f4f4;
  /* margin-bottom: 5rem; */
}

.blog_pictures {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem 0rem 0rem 2rem;
  padding-bottom: 7rem;
  /* padding: 0 2rem; */
  position: relative;
}

.blog1 {
  background-color: #fff;
  width: 14rem;
  /* padding: 0.5rem; */
  /* margin: 2rem; */
}

.blog_img {
  padding: 0.5rem;
}

.blog1 img {
  width: 100%;
  height: 10rem;
  border-radius: 4px;
}

.blog_info {
  width: 13rem;
  color: grey;
  font-size: 12px;
  padding: 0.5rem;
  padding-top: 0;
  position: relative;
}

.date {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.date p:last-of-type {
  color: orange;
}

.date i {
  margin: 0 5px;
}

.details p:first-of-type {
  color: #191919;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px ;
}

.details p:last-of-type {
  font-size: 11px;
  margin-bottom: 8px;
  padding-right: 2px;
  width: 12rem;
}

.blog_info a {
  text-decoration: none;
  color: orange;
}

.user {
  display: flex;
  gap: 8px;
  color: grey;
  font-size: 10px;
  margin-top: 16px;
  padding: 0.5rem;
}

.details::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  width: 14rem;
  margin: 0.8rem 0;
  background-color: #f4f4f4;
}

.about_section {
  background-color: #191919;
  color: #fff;
}

.about_contact_div {
  display: flex;
  gap: 3rem;
  padding: 1rem;
  margin: 0 10rem;
  padding: 4rem 0;
  font-size: 12px;
}

.about_contact_div p {
  margin: 1rem;
}

.about_contact_div p:first-of-type {
  font-size: 16px;
  font-weight: 450;
  
}
.about_site p:last-of-type {
  width: 25rem;
  margin-bottom: 1rem;
} 
.about_contact_div a {
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}

.houzez {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}

.discover i {
  font-size: 10px;
  margin-right: 4px;
}

.discover .discover_subsection {
  margin-left: 1.5rem;
}

.discover_subsection p:first-of-type {
  font-size: 12px;
}


footer {
  background-color: black;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_details {
  display: flex;
  gap: 10rem;
  margin: 0 10rem;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.TnC {
  display: flex;
  gap: 1rem;
}

.footer_details .socials {
 margin-left: 0; 
 display: flex;
 gap: 5rem;
}

#top_btn button{
  background-color: orange;
  color: #fff;
  width: 2rem;
  height: 2rem;
  padding: 10px;
  border-radius: 3px;
  border: none;
  margin: 0 1rem 1rem 0 ;
}
